body {
    background-color: #fae1dd;
}

h1 {
    text-align: center;
}

h2 {
    color: brown;
}

#header_img {
    width: 200px;
    border: 2px solid brown;
    margin: auto;
    display: block;
}

#header_img {
    width: 200px;
    margin: auto;
    display: block;
}